

<div class="container" >
    <div class="row text-center bg-body-tertiary p-5 rounded-1 mb-3" style=" width:100% ">
        <h5 class="display-4 text-black">Privacy Policy</h5>
        <p class="h6 text-black-50">How Demo handel your data</p>
    </div>
    <div class="row">
        <div class="col-4 ">
            <dl class="m-2 ">
                <dt class="text-black mb-1 mt-5 h5">Getting started</dt>
                <a  href="#" class="text-decoration-none"><dd>Overview</dd> </a>

                <dt class="text-black mt-5 mb-1 h5">Privacy</dt>
                <a href="#" class="text-decoration-none">
                <dd>Stack Privacy Policy</dd></a>
                <a href="#" class="text-decoration-none">
                <dd>Privacy FAQ</dd></a>
                

                <dt class="text-black mt-5 mb-1 h5">Data Requests</dt>
                <a href="#" class="text-decoration-none">
                <dd>Data Requests Overview</dd></a>
                <a href="#" class="text-decoration-none">
                <dd>Data Requests Policy</dd></a>
                <a href="#" class="text-decoration-none">
                <dd>Transperency report</dd></a>

                <dt class="text-black mt-5 mb-1 h5">Compliance</dt>
                <a href="#" class="text-decoration-none">
                <dd>Cookie Policy</dd></a>
                <a href="#" class="text-decoration-none">
                <dd>Stack's GDPR Cometiment</dd></a>
                <a href="#" class="text-decoration-none">
                <dd>Transperency report</dd></a>

            </dl>
        </div>
        <div class="col-8 mt-5 ">
            <div style="height: 38%; overflow-y: scroll;" class="scrollable-column">
                  <div class="scrollable-column-content">
        
                       <p class="p ">
                        This policy applies where we are acting as a data controller with respect to the personal data of our website visitors;
                        in other words, where we determine the purposes and means of the processing of that personal data.We will ask you to consent to our 
                        use of cookies in accordance with the terms of this policy when you first visit our website. In this policy, “we”, “us” and “our”
                        refer to Page1 (Europe) Ltd. For more information about us.<br /><br />

                        How we use your personal data we have set out: the general categories of personal data that we may process; in the case of personal
                        data that we did not obtain directly from you, the source and specific categories of that data; the purposes for which we may process
                        personal data; and the legal bases of the processing. We may process data about your use of our website (“usage data“). The usage data
                        may include your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page 
                        views and website navigation paths, as well as information about the timing, frequency and pattern of your service use. The source of
                        the usage data is our analytics tracking system. This usage data may be processed for the purposes of analysing the use of the website
                        and services. The legal basis for this processing is consent and our legitimate interests, namely monitoring and improving our website.
                        We may process your personal data that are provided in the course of the use of our services (“service data“). The service data may 
                        include your contact and company details. The source of the service data is you or your employer. The service data may be processed 
                        for the purposes of providing our services and communicating with you. The legal basis for this processing is consent. We may process 
                        information contained in any enquiry you submit to us regarding goods and/or services (“enquiry data“). The enquiry data may be processed
                        for the purposes of offering, marketing and selling relevant goods and/or services to you. The legal basis for this processing is consent.<br /><br />

                        We may process information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters (“notification
                        data“). The notification data may be processed for the purposes of sending you the relevant notifications and/or newsletters. The legal basis
                        for this processing is consent. We may process information contained in or relating to any communication that you send to us (“correspondence
                        data“). The correspondence data may include the communication content and metadata associated with the communication. Our website will generate
                        the metadata associated with communications made using the website contact forms. The correspondence data may be processed for the purposes of 
                        communicating with you and record-keeping. The legal basis for this processing is our legitimate interests, namely the proper administration of 
                        our website and business and communications with users.<br /><br />

                        We may process any of your personal data identified in this policy where necessary for the establishment, exercise or defence of legal claims, 
                        whether in court proceedings or in an administrative or out-of-court procedure. The legal basis for this processing is our legitimate interests,
                        namely the protection and assertion of our legal rights, your legal rights and the legal rights of others.<br /><br />

                        We may process any of your personal data identified in this policy where necessary for the purposes of obtaining or maintaining insurance coverage,
                        managing risks, or obtaining professional advice. The legal basis for this processing is our legitimate interests, namely the proper protection of 
                        our business against risks.In addition to the specific purposes for which we may process your personal data set out in this Section 2, we may also 
                        process any of your personal data where such processing is necessary for compliance with a legal obligation to which we are subject, or in order to
                        protect your vital interests or the vital interests of another natural person.<br /><br />

                        Please do not supply any other person’s personal data to us, unless we prompt you to do so.<br />
                        </p>
                </div>
                   
           </div>
        </div>
    </div>
</div>
