@model Category


<div class="container">
    <div class="row pt-5 pb-3">
        <div class="col-6"> <h2>Createe Category</h2></div>
        <form method="post" enctype="multipart/form-data">

       

            <div class="boredr-2 border-black p-3 mt-4 ">
                <div class="row  mb-4">
                    <label asp-for="Name" class="form-label h5 "></label>
                    <input asp-for="Name" class="form-control  mb-2  rounded-1 shadow"  />
                    <span asp-validation-for="Name" class="text-danger h6"></span>
                    
                </div>
                <div class="row mb-4">
                    <label asp-for="DisplayOrder" class="form-label h5"></label>
                    <input asp-for="DisplayOrder" class="form-control  rounded-1 shadow" />
                    <span asp-validation-for="DisplayOrder" class="text-danger h6"></span>
                </div>
                <div class="row mb-4">
                    <label asp-for="Disc" class="form-label h5"></label>
                    <input asp-for="Disc" class="form-control  rounded-1 shadow " />
                    <span asp-validation-for="Disc" class="text-danger h6"></span>
                </div>
                <div class="row mb-5  ">

                    <label asp-for="ImageFile" class="form-label h5 mb-3"></label>
                    <input asp-for="ImageFile" accept="image/*" class="form-control shadow h5" />
                    <span asp-validation-for="ImageFile" class="text-danger h6"></span>


                </div>
                <div class="row">
                    <div class="col-4  p-0 ">
                        <button type="submit" class="btn btn-primary form-control rounded-1 h6 ">Create</button>
                    </div>
                    <div class="col-8  text-end p-0">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary rounded-1 h6 ">Back To List</a>
                    </div>
                    
                </div>
               
            </div>
        </form>

        @section Scripts{
            @{
                <partial name="_ValidationScriptsPartial" />
            }
        }


    </div>


</div>